<html>
  <head>
    <title>Car Sim</title>
  </head>
  <body>
    <h3>Car Make: <%= car.make %></h3>
    <h3>Car Year:<%= car.year %></h3>
    <h3>lights:<%= car.lights %></h3>
    <form action="car-stats" method="post">

    </form>
  </body>
</html>
