<html>
  <head>

    <title>Car Sim</title>
  </head>
  <body>
    <h1> Welcome to The Car Simulator </h1>
    <form action="/car-stats" method="post">
      Car Make: <input type="text" name="make"><br>
        <br>
      Car Year: <input type="text" name="year"><br>
        <br>
      <input type="submit" name"submitCar" value="submit">
  </body>
</html>
